/* -------------------- */
/* Token                */
/* -------------------- */

:root {
  /* Colors */
  --color-bg: #f5f5f5;
  --color-surface: #ffffff;
  --color-text: #111111;
  --color-muted: #666666;
  --color-primary: #8316c5;
  --color-on-primary: #ffffff;
  --color-border: #e5e7eb;
  --color-success: #198754;
  --color-on-success: #fff;
  --color-warning: #ffc107;
  --color-on-warning: #000;
  --color-danger: #dc3545;
  --color-on-danger: #fff;

  /* TYPOGRAPHY */
  --font-sans: Inter, sans-serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;

  /* SPACING */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;

  /* RADIUS */
  --radius-sm: 6px;
  --radius-md: 12px;

  /* SHADOWS */
  --shadow-sm: 0 1px 2px rgba(0,0,0,0.08);
}
/* -------------------- */
/* Reset                */
/* -------------------- */

/* Box Sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}

small {
  font-size: var(--text-sm);
}

/* images */
img,
picture {
    max-width: 100%;
    display: block;
}

/* forms */
input,
button,
textarea,
select {
    font: inherit;
}

input:focus {
  outline: none
}

/* Remove animation */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*====================
Layout
====================*/

body {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 3rem 1fr;
  font-family: var(--font-sans);
  font-size: var(--text-md);
  color: var(--color-text);
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.header {
  position: sticky;
  top: 0;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--space-4);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg);
}

main {
  grid-area: main;
}

.sidebar {
  position: sticky;
  top: 3rem;
  height: calc(100vh - 3rem);
  grid-area: sidebar;
  border-right: 1px solid var(--color-border);
}

/*====================
Utility Classes
====================*/

/* colors */

.text-danger {
  color: red;
}

/* spacing */

.mb-1 {
  margin-bottom: var(--space-1);
}

.mb-2 {
  margin-bottom: var(--space-2);
}

.mb-3 {
  margin-bottom: var(--space-3);
}

.mb-4 {
  margin-bottom: var(--space-4);
}

.mb-5 {
  margin-bottom: var(--space-5);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.table-page-container {
  width: min(100% - 2rem, 1400px);
  margin-inline: auto;
}

.form-page-container {
  width: min(100% - 2rem, 992px);
  margin-inline: auto;
}

/*====================
Components
====================*/

/* form */

.form-control {
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
}

.form-control:focus-visible {
  outline: 1px solid var(--color-primary);
}

.form-label {
  display: block;
  margin-bottom: 0.5em;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

.form-control.valid {
  outline: 1px solid var(--color-success);
}

.form-control.invalid {
 outline: 1px solid var(--color-danger);
}

.form-control.invalid:focus {
  outline: 1px solid var(--color-warning);
}

/* Page Header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Table */
.table-wrapper {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: var(--color-bg);
  color: var(--color-muted);
  font-size: var(--text-xs);
}

.table td {
  background-color: var(--color-surface);
  color: var(--color-text);
  font-size: var(--text-sm);
}

.table th, table td {
  padding: 0.3em;
}

/* Button */
.button {
  border: none;
  background: transparent;
  color: var(--color-text);
  padding:
    var(--space-2)
    var(--space-4);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}


/*====================
 * Pages
 * ====================*/

/* User Index */

.user-table {
}

.user-table tr>:nth-child(1) {
  text-align: right;
  width: 5%;
}

.user-table tr>:nth-child(2),
.user-table tr>:nth-child(3),
.user-table tr>:nth-child(4) {
  text-align: left;
}

.user-table tr>:nth-child(5) {
  text-align: center
}

/* User Create */

.user-form {
  max-width: 768px;
  margin-inline: auto;
}
