<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Backend</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header class="header">
    <div>
      <a asp-area="" asp-page="/Index">Task Management</a>
    </div>
    <div>
      <button class="button">Logout</button>
    </div>
  </header>
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a asp-page="/Users/Index">Users</a>
        </li>
        <li>
          <a asp-page="/Projects/Index">Projects</a>
        </li>
      </ul>
    </nav>
  </aside>
  <main role="main">
    @RenderBody()
  </main>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script asp-src-include="@(ViewContext.View.Path).js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
