@page

<section class="page-header">
  <div class="page-header__heading">
    <h1>Users</h1>
  </div>
  <div class="page-header__actions">
    <a href="/users/create">Create User</a>
  </div>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th>S No</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 1 </td>
        <td> Prateek Saini </td>
        <td> PSaini </td>
        <td> p@saini.com </td>
        <td>
          <div>
            <button>Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<section>
