@page
@model Pages.Users.IndexModel

<div class="table-page-container">
  <section class="page-header">
    <div class="page-header__heading">
      <h1>Users</h1>
    </div>
    <div class="page-header__actions">
      <a asp-page="/Users/Create">Create User</a>
    </div>
  </section>

  <section class="table-wrapper">
    <table class="table user-table">
      <thead>
        <tr>
          <th>S No</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var row in Model.Rows)
        {
          <tr>
            <td> 1 </td>
            <td> @row.Name </td>
            <td> @row.Username </td>
            <td> @row.Email </td>
            <td>
              <div>
                <a href="#">Edit</a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  <section>
</div>
