<section class="d-flex">
  <div class="flex-grow-1">
    <h2>User</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">User</li>
      </ol>
    </nav>
  </div>
  <div class="d-flex align-items-center">
    <a routerLink="add" matButton><mat-icon>add</mat-icon>Add new user</a>
  </div>
</section>

<section>
  <app-user-list [users]="users"></app-user-list>
</section>
