@page
@model Backend.Pages.Projects.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="form-page-container">
  <section class="page-header">
    <div class="page-header__heading">
      <h1>Create Project</h1>
    </div>
    <div class="page-header__actions">
      <a href="/projects">Back</a>
    </div>
  </section>
  <section>
    <form method="post" id="CreateProjectForm" novalidate class="stack">
      <div class="form-section">
        <h3>General</h3>
          <div class="form-group">
            <label for="Name" class="form-label">Name *:</label>
            <input name="Name" required maxlength="100" class="form-control" />
            <p class="invalid-feedback"></p>
            @await Html.PartialAsync("/Pages/Shared/_ValidationErrors.cshtml", "Name")
          </div>
      </div>
      <div class="text-rigth">
        <button type="button" id="AddMember" class="button button-secondary">Add Member</button>
      </div>
      <div class="table-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Member</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="MemberContainer">
          </tbody>
        </table>
      </div>
        <button type="submit" class="button button-primary">Submit</button>
    </form>
  </section>
</div>

<template id="MemberTemplate">
  @await Html.PartialAsync("_Member")
</template>
