@page
@model Pages.Projects.IndexModel

<div class="table-page-container">
  <section class="page-header">
    <div class="page-header__heading">
      <h1>Projects</h1>
    </div>
    <div class="page-header__actions">
      <a href="/projects/create">Create Project</a>
    </div>
  </section>

  <section class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>S No</th>
          <th>Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  <section>
</div>
